/* Colors */
$fdr-color_tertiary-900: #4a4a4a;
$fdr-color_tertiary-800: #111112;
$fdr-color_tertiary-500: #636067;
$fdr-color_tertiary-450: #7a7a7a;
$fdr-color_tertiary-400: #807c85;
$fdr-color_tertiary-300: #9e9ba2;
$fdr-color_tertiary-200: #bbb9be;
$fdr-color_tertiary-100: #d9d8db;
$fdr-color_tertiary-75: #eeeeee;
$fdr-color_tertiary-50: #f7f6f6;

$br-color_transparent: transparent;
$fd-color_white: #ffffff;
$br-color_white: #ffffff;
$fd_color_surface-dark: #f4f4f4;
$fd-color_badge: #cc5555;
$fd-color_danger: #b7160e;
$fd-color_dark: #000000;
$fd-color_success: #5cb519;

$br-color_warning: #ffc300;
$br-color_waiting: #ffaa90;

$br-background-color_warning: #ffee99;

$br-color_success: #5cb519;
$br-color_success-light: rgba(#d5f7a2, 0.4);

$br-color_danger: #b7160e;
$br-color_danger-light: #fde9e7;
