@mixin reset-font() {
    font-size: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: normal;
}

@mixin reset-label() {
    display: inherit;
    max-width: inherit;
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    cursor: inherit;
}

@mixin reset-button() {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    &:focus {
        outline: 0;
    }
}

@mixin reset-anchor() {
    color: inherit;
    text-decoration: none;
    outline: 0;

    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}
